h1, h2, h3 {
  font-family: Arial;
  color: red;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #919499;
  padding: 10px;
}

section {
  border: 3px groove #DAA520;
  padding: 10px;
}

div#table_of_content {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}


th {
  color: purple;
  border: 1px solid #665544;
  padding: 10px;
}

td {
  border: 1px solid #665544;
}
