h1, h2, h3 {
  font-family: Arial;
  color: red;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fffef0;
  padding: 10px;
}

section {
  border: 3px groove #b9a760;
  padding: 10px;
}

div#table_of_content {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}


th {
  color: purple;
  border: 1px solid #685a35;
  padding: 10px;
}

td {
  border: 1px solid #abd8aa;
}
