h1, h2, h3 {
  font-family: Arial;
  color: red;
}

body {
  border: 2px solid #665544;
  background-color: #efefef;
  padding: 10px;
}

section {
  border: 3px groove #DAA520;
  padding: 10px;
}


th {
  color: purple;
  border: 1px solid #665544;
  padding: 10px;
}

td {
  border: 1px solid #665544;
}
